<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="x-icon" href="../../static/../static/images/favicon.ico" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../static/css/index_style.css" />
        <title>SamIT</title>
  </head>

  <body>
    <div class = "web-container">
      <div class = "left-cont">
        <div class = "logo">
          <img src = "../static/image/logosamit.svg">
        </div>
        <div class = "list-menu-container">
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_dashboard.svg">
            </div>
            <div class = "menu-text">
              <h3 class = "text-selected">Dashboard</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_car.svg">
            </div>
            <div class = "menu-text">
              <h3>Samsat</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_pajak.svg">
            </div>
            <div class = "menu-text">
              <h3>Info Pajak</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_panduan.svg">
            </div>
            <div class = "menu-text">
              <h3>Panduan</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_pembayaran.svg">
            </div>
            <div class = "menu-text">
              <h3>Pembayaran</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_cc.svg">
            </div>
            <div class = "menu-text">
              <h3>Customer Care</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_settings.svg">
            </div>
            <div class = "menu-text">
              <h3>Settings</h3>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="info-logo">
            <img src="../static/image/icons/ic_green_shield.svg" alt=""> 
          </div>
          <p class="info-text text-bold">Awasi pajak kendaraanmu!</p>
          <p class="info-text">Bayar pajak tidak perlu ribet ! Cukup klik dan beres</p>
          <p class="info-text text-bold">BAPENDA Jabar</p>
        </div>
      </div>
      <div class = "mid-cont">
          <div class = "mid-header">
            <div class="hello-anda">
              <h1>Hello, Aulia!</h1>
              <p>Jalan Ganesha No.10, Bandung</p>
            </div>
            <div class = "pencarian">
              <img src="../../static/image\icons\search.svg" alt="">
              <input type="text" placeholder="search">
            </div>
          </div>
          <div class = "info-kendaraan">
            <div class = "kendaraan">
              <div class = "gambar-kendaraan">
                <img src="../../static/image\icons\motorcycle 1.svg" alt="">
              </div>
              <div class="detail1">
                <table>
                  <tr>
                    <th class="th1"></th>
                    <th class="th2"></th>
                    <th class="th3"></th>
                  </tr>
                  <tr>
                    <td class = "bold">Plat Nomor</td>
                    <td class = "bold">:</td>
                    <td>D 1893 RAY</td>
                  </tr>
                  <tr>
                    <td class = "bold">Jenis Kendaraan</td>
                    <td class = "bold">:</td>
                    <td>Motor Sport</td>
                  </tr>
                  <tr>
                    <td class = "bold">Warna Kendaraan</td>
                    <td class = "bold">:</td>
                    <td>Merah Hitam</td>
                  </tr>
                  <tr>
                    <td class = "bold">Nomor Rangka</td>
                    <td class = "bold">:</td>
                    <td>1HGBH41JXMNxxxxx</td>
                  </tr>
                </table>
              </div>
              <div class="detail2">
                <table>
                  <tr>
                    <th class="th1"></th>
                    <th class="th2"></th>
                    <th class="th3"></th>
                  </tr>
                  <tr>
                    <td class = "bold">Nomor Mesin</td>
                    <td class = "bold">:</td>
                    <td>JF21E</td>
                  </tr>
                  <tr>
                    <td class = "bold">Jumlah Biaya</td>
                    <td class = "bold">:</td>
                    <td>Rp 358.000</td>
                  </tr>
                  <tr>
                    <td class = "bold">Diskon Pajak</td>
                    <td class = "bold">:</td>
                    <td>Rp 35.800</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class = "jumlah-kendaraan">
              <img src="../../static/image\icons\titik4.svg" alt="">
            </div>
          </div>

          <div class = "informasi-dashboard">
            <div class="terdekat-container">
              <div class="judul-terdekat">
                Samsat Terdekat
              </div>
              <div class="gambar-terdekat">
                <img src="../../static/image\icons\maps.svg" alt="">
              </div>
              <div class="selengkapnya-terdekat">
                Selengkapnya
              </div>
            </div>
            <div class="berita-container">
              <div class="judul-berita">
                Berita Harian Terkini
              </div>
              <div class="gambar-berita">
                <img src="../../static/image\icons\berita.svg" alt="">
              </div>
              <div class="isi-berita">
                <p>Bapenda Jabar Galang Donasi Untuk Gempa Cianjur [...]</p>
              </div>
              <div class="selengkapnya-berita">
                <p>Selengkapnya</p>
              </div>
            </div>
            <div class="riwayat-container">
              <div class="judul-riwayat">
                <p>Riwayat Pembayaran</p>
              </div>
              <div class="gambar-riwayat">
                <img src="../../static/image\icons\motorcycle 2.svg" alt="">
              </div>
              <div class="isi-riwayat">
                30 November 2021
              </div>
              <div class="selengkapnya-riwayat">
                Selengkapnya
              </div>
            </div>
          </div>
          <div class = "banner-iklan">
            <img src="../../static/image\icons\iklan.svg" alt="">
          </div>
      </div>

      <div class = "right-cont">
        <div class="profile-container">
          <img src="../static/image/icons/ic_notification.svg">
          Aulia Fajri
          <img src="../static/image/foto/profile.svg" style="padding: 2px;">   
        </div>

        <div class="jatuh-tempo-container">
          <img src="../static/image/icons/ic_warning.svg">
          <p class="plat-nomor">D 1893 RAY</p> 
          <div class="tanggal-jatuh-tempo">
            Jatuh tempo pada : <strong>30 November 2022</strong>
          </div> 
          <button class="button-bayar" onclick="alert('Bayar Sekarang!')">
            Bayar sekarang
          </button>
        </div>

        <div class="layanan-container">
          <p class="layanan">Layanan :</p>
          <div class="dropdown">
            <button class="dropbtn">Pilih Layanan</button>
            <div class="dropdown-content">
              <a>Samsat Keliling</a>
              <a>Samsat J'Bret</a>
              <a>Samsat Masuk Desa</a>
              <a>Samsat Outlet</a>
              <a>Samsat Gendrong</a>
              <a>Samsat Drive Thru</a>
              <a>Samsat Corner</a>
              <a>Samsat KCP Bank BJB</a>
              <a>Samsat Online 3 Provinsi</a>  
            </div>
          
          </div>
          <p class="tempat">Tempat :</p>
          <div class="dropdown">
            <button class="dropbtn">Pilih Tempat</button>
            <div class="dropdown-content">
            <a onclick="getvalue('Kota Bandung')">Kota Bandung</a>
            <a onclick="getvalue('Kabupaten Bandung Barat')">Kabupaten Bandung Barat</a>
            <a onclick="getvalue('Kota Cimahi')">Kota Cimahi</a>
            <a onclick="getvalue('Kota Sumedang')">Kota Sumedang</a>
            <a onclick="getvalue('Kota Subang')">Kota Subang</a>
            </div>
          </div>
          <button class="button-jadwal" onclick="location.href='/samling'">
            Cari Jadwal
          </button>
        </div>
      </div>

    </div>
  </body>

  <script src="../static/js/samling.js">
  </script>

</html>